span
    {
        color : #47e6be;
    }
a
    {
        color : #47e6be;
        text-decoration: none;
    }
.nav {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}
.home-section
    {
        display: flex;
        gap: 20px;
    }
.home
    {
        color:white;
        max-width: 50%;
        padding: 20px;
        flex: 1;
    }
.image
    {
        max-width: 50%
        padding: 20px;
        flex: 1;
    }

body
    {
        background-color:black;
    }

.cv
    {
        background-color: black;
        color: #47e6be;
        border-color: #47e6be;
        border-radius: 5px;

    }

.cv:hover {
    background-color: #47e6be;
    color: white;
}

.logo
    {
        align-items: center;
    }