<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="education-section">
    <section id="education" class="education">
        <h3 class="section-title">Education</h3>
        <div class="education-container">
            <div class="education-item">
                <h4>Diploma in Computer Science</h4>
                <p>Tshwane University of Technology</p>
                <section class="education-details">
                    <h4>Education focus:</h4>
                    <ol>
                        <li>Software Engineering</li>
                        <li>Databases</li>
                        <li>Web Development</li>
                    </ol>
                </section>

                <span>2022-2024</span>
            </div>
            <div class="education-item">
                <h4>Advance Diploma in Computer Science</h4>
                <p>Tshwane University of Technology</p>
                <section class="education-details">
                    <h4>Education focus:</h4>
                    <ol>
                        <li>Software Engineering</li>
                        <li>Human Computer Interaction</li>
                        <li>Data Science</li>
                    </ol>
                </section>

                <span>2026-Present</span>
            </div>
        </div>


    </section>
</th:block>