<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/CSS/Style.css}">
</head>
<body>
<!--site header -->
<div th:replace="~{fragments/header :: site-header}"></div>
<!--home section -->
<div th:replace="~{fragments/home :: home-section}"></div>
<!--about section-->
<div th:replace="~{fragments/about :: about-section}"></div>

<script th:src="@{/JS/Script.js}"></script>
</body>
</html>