<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
    <link rel="stylesheet" th:href="@{/CSS/Style.css}">
</head>
<body>
<!--site header -->
<div th:replace="~{fragments/header :: site-header}"></div>
<!--home section -->
<div th:replace="~{fragments/home :: home-section}"></div>
<!--about section-->
<div th:replace="~{fragments/about :: about-section}"></div>

<script th:src="@{/JS/Script.js}"></script>
</body>
</html>