<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<header th:fragment="about-section">
    <div class="about">
        <div>
            Hi my name is
        </div>
        <h1>
            Nkosinathi Kgobe
        </h1>
        <h2>
            An aspiring Java Developer
        </h2>
        <p>
            I am a <span>Computer Science graduate</span> from Tshwane University of Technology
            with a strong passion for technology and <span>Java development</span>.
            I am eager to gain hands-on experience,
            contribute meaningfully to innovative projects,
            and continue growing within the industry.
            My long-term goal is to build a clear and focused path toward becoming a <span>DevOps Engineer</span>.
        </p>
    </div>
    <div class="image"></div>

</header>
