<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<th:block th:fragment="contact-section">

    <div  class="contact-form" id="contact">
        <div class="contact">
            <div class="contact-container">
                <div class="text-container">
                    <h3 class="contact-heading">
                        Get in touch with David(Me).
                    </h3>

                </div>
                <div class="form-container">
                    <form >


                        <div class="names-container">
                            <div class="fname-container">

                                <input type="text" name="name" id="first_name" placeholder="Your first name" required
                                       class="input-field" />
                            </div>
                            <div class="lname-container">

                                <input type="text" name="last_name" id="lname" placeholder="your last name" required
                                       class="input-field" />
                            </div>
                        </div>

                        <div class="mail-container">
                            <div class="email-container">

                                <input type="email" name="email" id="email" placeholder="you@company.com" required
                                       class="input-field" />
                            </div>

                            <div class="subject-container">

                                <input type="text" name="subject" id="subject" placeholder="email subject " required
                                       class="input-field" />
                            </div>
                        </div>

                        <div class="message-container">

                        <textarea rows="5" name="message" id="message" placeholder="Your Message" required
                                  class="input-field"></textarea>
                        </div>

                        <div class="messagebtn-container">
                            <button type="submit" class="btns" id="message-btn">
                                Send Message
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>